.Camera {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: pink;
}

.Camera-viewport {
  flex: 1;
  background-color: grey;
}

.Camera-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}
