.Camera {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
}

.Camera-backButton {
  top: 1rem;
  left: 1rem;
}

.Camera-controlsButton {
  bottom: 1rem;
  right: 1rem;
}

.Camera-controls {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
}
