.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: linear-gradient(180deg, #fc71ff 57.29%, #b53cff 100%);
}

.Home-title {
  text-align: center;
  font-size: 4rem;
  margin: 0.4em 0;
  color: #fff;
}

.Home-tagline {
  text-align: center;
  font-size: 2rem;
  color: #fed2ff;
  margin: 0;
}

.Home-formTagline {
  font-size: 1rem;
  text-align: center;
  color: #757575;
}

.Home-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Home-textarea {
  flex: 1;
  margin-bottom: 1rem;
  font-size: 2rem;
  border: 2px solid #fff;
  border-radius: 4px;
  background: none;
  font-family: Roboto;
  resize: none;
}

.Home-startButton {
  font-size: 2rem;
  background-color: #fff;
  color: #b53cff;
}
