.KanjiPractice-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  flex: 1;
}

.KanjiPractice-image {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

.KanjiPractice-backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #b53cff;
  color: #fff;
  text-decoration: none;
}

.KanjiPractice-backButton svg {
  height: 2.25rem;
}
