.Main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
}

.Main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 0 1rem 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  background-color: #b53cff;
}

.Home-Main {
  background-repeat: no-repeat;
  background-position: center;
}
