.MessageInput {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Roboto;
}

.MessageInput-title {
  font-size: 1.5rem;
  font-weight: normal;
  color: #757575;
  margin: 1rem 1rem 0 1rem;
}

.fa-pencil-alt {
  margin-right: 1rem;
}

.MessageInput-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.MessageInput-textarea {
  flex: 1;
  border-radius: 4px;
  border: 2px solid #c7c7c7;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  background: none;
  font-family: azuki;
  resize: none;
  color: #757575;
}

.MessageInput-textarea::placeholder {
  color: #c7c7c7;
}

.MessageInput-buttonBar {
  margin: 1rem;
  display: flex;
}

.MessageInput-buttonBar > * {
  flex: 1;
}

.MessageInput-backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background-color: #b53cff;
  color: #fff;
  border-radius: 4px;
}

.MessageInput-startButton {
  border-radius: 4px;
  border: 1px solid #b53cff;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: #b53cff;
  color: #fff;
  font-family: Roboto;
  text-align: center;
}

.MessageInput-textarea:focus,
.MessageInput-startButton:focus,
.MessageInput-backButton:focus {
  box-shadow: 0 0 5px 2px #fc71ff;
  border: 1px solid #b53cff;
  outline: none;
}
