.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Home-title {
  text-align: center;
  font-size: 3rem;
  margin: 0.4em 0;
  color: #fc71ff;
  padding: 0 1rem;
  white-space: pre;
}

.Home-tagline {
  text-align: center;
  font-size: 2rem;
  color: #ffc0ea;
  margin: 0;
}

.Home-selectors {
  font-size: 2rem;
  background-color: #fff;
  color: #b53cff;
  margin: 2rem;
  border-radius: 4px;
}
