@font-face {
  font-family: 'azuki';
  src: url('/azuki.ttf') format('truetype');
}
body {
  box-sizing: border-box;
  background: #f1f1f1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: 767px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
}
