@font-face {
  font-family: 'azuki';
  src: url('/azuki.ttf') format('truetype');
}
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  position: fixed;
  height: 100%;
  width: 100%;
}
